body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: 0;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 80vh;
}

figure {
  margin: 0;
}

#maps {
  width: 100%;
}

.mapContainer {
  background: rgba(220, 220, 220, 0.8);
  border-radius: 20px;
  overflow: hidden;
  margin: 40px auto;
  width: 90%;
  max-width: 570px;
}

.mapContainer .titleBar {
  margin: 15px 14px;
  font-size: 1.17em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.mapContainer .titleBar span {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
  text-overflow: ellipsis;
}

.mapContainer .titleBar span strong {
  font-weight: 600;
  color: black;
}

.mapContainer .titleBar a {
  text-align: right;
}

a,
input[type="button"] {
  font-weight: 600;
  color: rgb(10, 132, 255);
  text-decoration: none;
}

.map {
  width: 100%;
  height: 30vh;
  min-height: 250px;
  max-height: 300px;
}

#vennMap {
  height: 40vh;
  max-height: 450px;
}

.formContainer {
  padding: 35px;
  margin: 0;
  @media only screen and (max-width: 800px) {
    margin: 10px;
    border-radius: 5px;
  }
}

.formFlexGroup {
  background: #F6F6F6;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  padding: 30px;
}

.moreAddressesButton {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 0;
 &:hover {
    svg g {
      fill: $white;
      transition: fill ease-in-out 100ms;
    }
    svg circle {
      stroke: $blue;
      fill: $blue;
      transition: all ease-in-out 100ms;
      transition-property: fill, stroke; 
    }
    background: none !important;
  }
 
}

.locInputGroup {
  width: 100%;
  > div:not(:last-of-type) {
    margin-bottom: 10px !important;
  }
}

.button {
 cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $blue;
    color: $white;
    transition: all ease-in-out 100ms;
  }
  transition: all ease-in-out 100ms;
  transition-property: background, color;
}

.findMidptButton {
  display: block;
  margin: 20px auto 0;
  background: $lightgrey;
}

.locInputs, .locButtons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    flex-flow: row wrap;
  }
}

.locInput {
  background: $grey;
  border-radius: 5px;
  padding: 0 0 0 7px;
  width: calc(50% - 6px);
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

.locInput:first-of-type {
  margin-right: 10px;
  @media only screen and (max-width: 800px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.locInput input {
  font-size: 1.17em;
  padding: 7px;
  border: 0;
  width: 40vw;
  background: none;
  width: 91%;
}

input:focus {
  outline: none;
}

.locButtons {
  margin-top: 15px;
  @media only screen and (max-width: 800px) {
    * { 
      display: block;
      margin: 0 auto; 
    }
  }
}

.locButtons span {
  font-size: 1.17em;
}

input[type="button"] {
  -webkit-appearance: none;
  font-size: 1.17em;
  /* border: 0; */
  padding: 8px 11px;
  border-radius: 5px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}

input[type="button"]:active, label:active {
  background: lightgray;
}

input[type=radio] {
  display: none;
}

.inputLabel {
  @media only screen and (max-width: 800px) {
    margin-bottom: 10px;
  }
}

.timeRadio {
  margin-top: 8px;
}

.timeRadio span {
  margin-right: 10px;
}

.timeRadio label {
  font-size: 1.13em;
  background: white;
  padding: 7px 10px;
  border: 2px;
}

.timeRadio label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.timeRadio label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.timeRadio input[type=text] {
  border: none;
  width: 80px;
  text-align: center;
}

input#yelpCategory {
  width: 150px;
  background: $grey;
  border-radius: 5px;
  padding: 7px 10px;
  &::placeholder {
    text-align: left;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

label.yelpCategory {
  border-radius: 5px !important;
  padding: 0;
}
span.yelpCategory {
  margin-left: 20px;
  @media only screen and (max-width: 800px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

div.yelpCategory {
  position: relative;
  display: inline-block;
}

.yelpCategoryMatches {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  background: $white;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  padding-top: 5px;
  li {
    padding: 10px;
    border-bottom: 2px solid $lightgrey;
    background: $white;
    width: 150px;
    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

input[type=radio] + label,
input[type=radio] + label input {
  color: rgb(0, 122, 255);
  background: white;
}

input[type=radio]:checked + label,
input[type=radio]:checked + label input {
  color: white;
  background: rgb(0, 122, 255);
}

input[type=radio]:checked + label input::placeholder {
  color: rgba(255, 255, 255, .75);
}

img {
  height: 30px;
  width: auto;
  margin-top: 3px;
}

/* Hide Google Maps controls (zoom, street view, terrain picker, etc) */
.gm-fullscreen-control,
.gm-style-cc,
.gm-svpc,
.gmnoprint {
  display: none;
}

.gm-style div a div img {
  display: none;
}

.list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 113px;
  border-bottom: 0.5px solid #979797;
  align-items: center;
  align-content: center;

}
 .list {
   width: calc(100%-40px);
   background-color: #f6f6f6;
   padding: 0 20px 20px;
 }

 .rating, .address {
   font-size: smaller;
   opacity: 0.7;
   margin: 0;

 }
h3 {
  margin: 2px auto;
}

.listmap {
  background: rgba(220, 220, 220, 0.8);
  border-radius: 20px;
  overflow: hidden;
  margin: 40px auto;
  width: 90%;
  max-width: 570px;
}
